---
import Feature from '@/components/Feature.astro';
---

<section id="wineries" class="relative z-0 overflow-hidden">
    <div class="py-20 container mx-auto ">
        <h2 class="text-center font-bold text-4xl border-b-title sm:w-max mx-auto pb-2 dark:text-white">Bodegas y Olivícolas Mendocinas</h2>
        <section class="pt-20 pb-10">
            <div class="grid grid-cols-1 max-sm:space-y-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-4 lg:gap-5 items-center justify-items-center sm:max-w-6xl lg:max-w-screen-lg mx-auto ">
                <Feature
                    src="/images/bodegas/esencia-1870.webp"
                    text="Esencia 1870"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/vistandes.webp"
                    text="Vistandes"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/don-arturo.webp"
                    text="Don Arturo"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/don-manuel-villafane.webp"
                    text="Don Manuel Villafañe"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/cecchin.webp"
                    text="Cecchin"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/florio.webp"
                    text="Florio"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/corbel.webp"
                    text="Corbel"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/pasrai.webp"
                    text="Pasrai"
                    noLink={true}
                />
                <Feature
                    src="/images/bodegas/centenario.webp"
                    text="Centenario"
                    noLink={true}
                />
            </div>
        </section>
    </div>
</section>